<div class="thumbnail">
<div class="leftThumbnail">
  <p><strong>Name:</strong><%= contact.Title %><%= contact.FirstName%> <%= contact.LastName %></p>
  <p><strong>Cell Phone:</strong><%= contact.MobilePhone%></p>
  <p><strong>Email:</strong><%= contact.EmailName%></p>
</div>
<div class="rightThumbnail">
  <strong>Address:</strong>
  <p><%= contact.Address%></p>
  <p><%= contact.Address1 %></p>
  <p><%= contact.City%> <%=contact.StateOrProvince %><%=contact.PostalCode %></p>
  <strong>phone:</strong>
  <p><%= contact.WorkPhone %></p>
  <strong>fax:</strong>
  <p><%= contact.FaxNumber %></p>
</div>
  

</div>
