<div class="thumbnail">
  </h2>

  <strong>Name:</strong>
    <p><%= contact.Title %></p>
    <p><%= contact.FirstName%> <%= contact.LastName %></p>
    <p><%= contact.MobilePhone%></p>        
    <p><%= contact.EmailName%></p>

  <strong>Address:</strong>
  <p><%= contact.Address%></p>
  <p><%= contact.Address1 %></p>
  <p><%= contact.City%> <%=contact.StateOrProvince %><%=contact.PostalCode %></p>
  <strong>phone:</strong>
  <p><%= contact.WorkPhone %></p>
  <strong>fax:</strong>
  <p><%= contact.FaxNumber %></p>

  

</div>