<div class="thumbnail">
<div class="col-sm-8 leftThumbnail">
  <div>
    <span><strong>Name: </strong></span>
    <span class="alignRight"><%= contact.Title %><%= contact.FirstName%> <%= contact.LastName %></span>
  </div>
  <div>
    <span><strong>Cell Phone: </strong></span>
    <span class="alignRight"><%= number_to_phone(contact.MobilePhone, area_code: true)%></span>
  </div>
  <div>
    <span><strong>Email: </strong></span>
    <span class="alignRight"><%=mail_to contact.EmailName%></span>
  </div>
  <div>
      <span><strong><%= link_to "Current Signs", sign_path(:id => @contact.id, :loc => 'main'), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#myContactForm'} %></strong></span>
  </div>
  <div>
      <%= link_to 'Add a sign to this location', new_sign_path(:id => @contact.id, :loc => 'main'), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#myContactForm'} %>
  </div>
</div>
<div class="col-sm-8 rightThumbnail">
  <strong>Address:</strong>
  <p><%= contact.Address%></p>
  <p><%= contact.Address1 %></p>
  <p><%= contact.City%> <%=contact.StateOrProvince %> <%=contact.PostalCode %></p>
  <strong>phone:</strong>
  
  <p><%= number_to_phone(contact.WorkPhone, area_code: true) %></p>
  <strong>fax:</strong>
  <p><%= number_to_phone(contact.FaxNumber, area_code: true) %></p>
</div>
  

</div>
