<div id='contact'>
	
  <h1><%=@contact.CompanyName %>

 <small>  
 <%= link_to edit_contact_path(@contact),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myContactForm'} do  %>
  <span class="glyphicon glyphicon-pencil"></span>
  <%end%>
	<%= link_to contact_path(@contact),
              method: :delete,
              data: { confirm: 'Are you sure?' } do%>
  <span class="glyphicon glyphicon-remove"></span>
  <%end%>
  </small>
  </h1>

  <div class="row">
   
      <%= render @contact%>
      <%= render @contact.locations%>

 
  </div>

  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
      Add a Location
  </button>
    <%= render 'locations/form' %>    

 </div>   
  
