
<%= form_tag(contacts_path, :method => "get", id: "search-form") do %>

<%= select_tag "search", options_from_collection_for_select(@contacts,"id", "CompanyName", params[:search]), id: "search", include_blank: true%>

<%= submit_tag "Search" %>
<% end %>
 
<% if @contacts.present? %>
  <%= render 'contacts/contacts' %>
<% else %>
  <p>There are no contacts containing the term(s) <%= params[:search] %>.</p>
<% end %>

   