
 <tr>
 	<td><%= link_to '', edit_timerecord_path(timerecord.id), :class => 'glyphicon glyphicon-pencil' %></td>
    <td><%= timerecord.jobnumber %></td> 
    <td><%= timerecord.timein.strftime("%m-%d") %></td>
    <td><%= timerecord.timein.strftime("%I:%M %p") %></td>
    <td><%= timerecord.timed_out_status %></td>
    <td><%= timerecord.timeTotal%></td>
 </tr>
