
 <tr>
    <td><%= timerecord.jobnumber %></td> 
    <td><%= timerecord.timein.strftime("%m-%d") %></td>
    <td><%= timerecord.timein.strftime("%I:%M %p") %></td>
    <td><%= timerecord.timed_out_status %></td>
    <td><%= timerecord.total%> </td>
 </tr>
