<div class="timerecords">
<h2> Hours from <%= params[:weekstart] %> to <%= params[:weekend] %> for <br> <%= @user.firstname %> <%= @user.lastname%>
	<small> 
		
	</small>
</h2>
<div>
<%= form_tag nil, :method => :get, :class => 'navbar-form navbar-left' do %>
			<div class="form-group">
			<%=date_field_tag 'weekstart', $beginning_of_last_week, :class => "form-control"%>
			<%=date_field_tag 'weekend', $end_of_last_week, :class => "form-control"%>
      		<%=hidden_field_tag 'selecteduser', '', value: params[:selecteduser]%>
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
<% end %>

</div>

<%= button_to "Insert Record", {:action => "add_timerecord", :user_id => @user.id}, { :form_class => 'navbar-form navbar-left' ,class: 'btn btn-success'} %> 

<div class="table-responsive">


<table class="table table-hover">
<% @timerecords.group_by(&:day).each do |day, timerecords| %>

  <tr>
    <th><%= day %></th>
  	<th></th>
    <th>Job Number</th>
    <th>Date</th>       
    <th>Time In</th>
    <th>Time Out</th>
    <th>Total</th>
  </tr>

    <%= render timerecords %>
  <tr>
    <td></td>
    <td></td>
    <td></td> 
    <td></td>
    <td></td>
    <td></td>
    <td><%= timerecords.to_a.sum(&:timeTotal).round(2)%> Hours</td>
 </tr>
  <% end %>
  <tr>
    <td></td>
  	<td></td>
    <td></td> 
    <td></td>
    <td></td>
    <td></td>
    <td><%= @timerecords.to_a.sum(&:timeTotal).round(2)%> Hours</td>
 </tr>

 </table>
 
</div>
</div>   

</div>