<%= form_for([@contact, @contact.locations.build]) do |f| %>
  <p>
    <%= f.label :address %><br>
    <p><%= f.text_field :address %></p>
    <p><%= f.text_field :address1 %></p>
  </p>
  <p>
  	<%= f.text_field :city ,:size=>20 %>
  	<%= f.text_field :state ,:size=>2 %>
  	<%= f.text_field :zip ,:size=>5%>
  <p>
    <%= f.label :phone %><br>
    <%= f.telephone_field(:phone) %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>