  <div>
    
    <strong>Address:</strong>
    <p><%= location.Address%></p>
    <p><%= location.Address1 %></p>
	<p><%= location.City%> <%=location.StateOrProvince %> <%=location.PostalCode %></p>
  </p>
 
  <p>
    <strong>phone:</strong>
    <%= location.WorkPhone %>
  </p>
 <p>
  
</div>