   <%= @people = Person.matchesLocation(location.id)%>
  <div>
    <%= render 'people/person' %>
    <strong>Address:</strong>
    <p><%= location.Address%></p>
    <p><%= location.Address1 %></p>
	<p><%= location.City%> <%=location.StateOrProvince %> <%=location.PostalCode %></p>
  </p>
 
  <p>
    <strong>phone:</strong>
    <%= location.WorkPhone %>
  </p>
 <p>
  <%= link_to 'Remove Location', [location.contact, location],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</div>