<div class="thumbnail">
  <h2> <%=location.locationName%>
    <small>
      <%= link_to edit_contact_path(@contact), remote: true do%>
        <span class="glyphicon glyphicon-pencil"></span>
      <%end%>
      <%= link_to [location.contact, location],
          method: :delete,
          data: { confirm: 'Are you sure?' },
          remote: true do%>
        <span class="glyphicon glyphicon-remove"></span>
      <%end%>

    </small>
  </h2>

  <strong>Address:</strong>
  <p><%= location.Address%></p>
  <p><%= location.Address1 %></p>
  <p><%= location.City%> <%=location.StateOrProvince %><%=location.PostalCode %></p>
  <strong>phone:</strong>
  <p><%= location.WorkPhone %></p>
  <strong>fax:</strong>
  <p><%= location.FaxNumber %></p>

</div>
