<!DOCTYPE html>
<html>
  <head>
    <title>SnowContact</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body>
  <%= render :partial => 'shared/navbar' %>
  <div id="wrapper">
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-1">
                  </div>
                  <div class="col-sm-8">

                     <%= yield %>
                 
                  </div>
                </div>
            </div>
        </div>
    <div id="myContactForm" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
  </div>  

  </body>
</html>
